:host {
  display: block;
  background-color: #2c2c2c;
  padding: 10px;
}

.card {
  background-color: #2c2c2c;
  border: none;
}

.card-body {
  margin-top: 10px;
}

p {
  color: white;
}

i {
  color: white;
}
