:host {
  display: block;
  height: 100%;
}

h2 {
  color: white;
}

.container-carrinho {
  margin: 30px auto;
  padding: 20px;
  max-width: 900px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

table {
  width: 100%;
  height: 50%;
}

button {
  color: white;
  background-color: #2c2c2c;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: #454d55;
  background-color: #343a40;
  color: white;
}
