:host {
  display: block;
  height: 100%;
}

table {
  width: 100%;
  height: 50%;
}

button {
  color: white;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: #454d55;
  background-color: #343a40;
  color: white;
}
