<table class="table table-striped table-hover w-100">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Cód. Barras</th>
      <th>Ações</th>
      <th>Carrinho</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of produtos">
      <td>{{ item.nome }}</td>
      <td>{{ formatarPreco(item.preco) }}</td>
      <td>{{ item.codigoBarras }}</td>

      <td>
        <button [routerLink]="['/editar', item.id]">Editar</button>
        <button (click)="deletar.emit(item.id)">Deletar</button>
      </td>

      <td>
        <button (click)="adicionarCarrinho.emit(item.id)">🛒</button>
      </td>
    </tr>
  </tbody>
</table>
