.editar-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-weight: 600;
}

.form-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin-bottom: 5px;
  color: white;
}

input {
  color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  transition: 0.2s;
  background: transparent;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

.btn-salvar {
  margin-top: 10px;
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-salvar:hover {
  background: #0056b3;
}
