:host {
  display: block;
  background-color: #2c2c2c;
  padding: 20px;
}

.card.card {
  border: none;
  background-color: #b3adad;
}

.card.text-center {
  margin: 0;
  padding: 0;
}

.card-title {
  color: white;
}

.card-text {
  color: white;
  font-size: 20px;
}

i {
  color: white;
  background-color: #0d6efd;
}
