.navbar {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-left: 20px;
}

.nav-link {
  margin: 0 auto;
  color: white !important;
  font-size: 18px;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}
