.navbar {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-left: 20px;
}

.nav-link {
  margin: 0 auto;
  color: white !important;
  font-size: 18px;
}
