.container-carrinho {
  margin: 30px auto;
  padding: 20px;
  max-width: 900px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

h2,
h3 {
  color: white;
}

button {
  background-color: #2c2c2c;
}

button.btn.btn-warning {
  border-color: white;
  color: white;
}

button:hover.btn.btn-warning {
  background-color: #454d55;
  color: white;
  cursor: pointer;
}

p {
  color: white;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: #454d55;
  background-color: #343a40;
  color: white;
}
