.card {
  width: 330px;
}

a {
  color: white;
  font-size: 25px;
}

p {
  color: white;
}

i {
  background-color: #0d6efd;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: #2c2c2c;
  border-color: white;
}

.card-footer i {
  background-color: #2c2c2c;
}

.item-footer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 3px;
}
