<div
  class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-lg-3 g-5 px-5"
>
  <div class="col d-flex justify-content-center" *ngFor="let p of products">
    <div class="card h-100">
      <img
        [src]="produtoImg"
        [height]="imgHeight"
        alt="{{ p.nome }}"
        class="card-img-top"
      />
      <div class="card-body">
        <a href="#" class="card-title">{{ p.nome }}</a>
        <p class="card-text">
          {{ p.descricao }}
        </p>
        <button type="button" class="btn btn-primary btn-sm rounded-pill">
          <i class="bi bi-cart4"></i>
          Carrinho
        </button>
      </div>

      <div class="card-footer">
        <p class="item-footer">
          Preço:{{ p.preco | currency : "BRL" : "symbol" }}
        </p>
        <p class="item-footer">
          Desconto <i class="bi bi-ticket-perforated"></i>{{ p.desconto }}
        </p>
        <p class="item-footer">
          Estoque <i class="bi bi-archive-fill"></i>{{ p.estoque }}
        </p>
      </div>
    </div>
  </div>
</div>
